.main_info-button{
        margin: .4em 3em 2.2em 2.5em;
        width: 35%;
        font-family: $raleway;
        font-size: $medium;
        font-weight: $bold;
        padding: .5em;
        color: $smoky-black;
        background-color: $white;
        border: 1px solid $smoky-black;
        text-align: center;
    
}

.footer_subscribir-button {
        margin: 0;
        border: none;
        font-family: $old-standard;
        background-color: $white;
        font-size: $x-large; 
    
}