h1 {
    font-size: $xxx-large;
    font-weight: $bold;
    font-family: $old-standard;
}

h2 {
    font-size: $xx-large;
    font-weight: $bold;
    font-family: $old-standard;
}

h5 {
    font-size: $xx-large;
    font-family: $old-standard;
    font-weight: $bold;
    margin-top: 1.33em;
    margin-bottom: 0.85em;
}

p {
    font-family: $raleway;
   font-weight: $regular;
}