
//primer esquema de colores
$white: #ffffff;
$isabelline: #ececec;
$light-gray: #d1d1d1;

//segundo esquema de colores
$smoky-black: #0c0910;
$granite-gray: #646266;
$quick-silver: #a6a5ab;

//tipografía
$old-standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

//peso de las fuentes
$regular: 400;
$bold: 700;

//tamaño de las fuentes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

